* {
  padding: 0;
  margin: 0;
}
:root {
  --shabnam: "shabnam";
  --fNum: "IRANSansXFaNum";
  --perNum: "IRANSansXFaNum";
  --btnRadius: 10px;
  --header-height: 133px;
  --hoverText: #0a295a;
  --black-16: rgba(0, 0, 0, 0.16);
  scrollbar-color: #2c5282 #f5f5f5 !important;
  scrollbar-width: thin !important;
}

.wraper {
  width: 100%;
  /* reserve space for the fixed header so content does not go under it */
  padding-top: var(--header-height);
}
@font-face {
  font-family: shabnam;
  src: url(../fonts/shabnam/Shabnam.eot), url(../fonts/shabnam/Shabnam.ttf),
    url(../fonts/shabnam/Shabnam.woff), url(../fonts/shabnam/Shabnam.woff2);
}
@font-face {
  font-family: "IRANSansXFaNum";
  src: url(../fonts/num/IRANSansXFaNum-RegularD4.eot);
  src: url(../fonts/num/IRANSansXFaNum-RegularD4.woff2) format("woff2"),
    url(../fonts/num/IRANSansXFaNum-RegularD4.woff) format("woff"),
    url(../fonts/num/IRANSansXFaNum-RegularD4.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
